.deatails h2{
    font-size: 3.5rem;
    margin-top: 80px;
}
.deatails h3{
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 400;
}
.htmls{
    margin-top: 40px;
}
.featured{
    margin-bottom: 40px;
}
